<!DOCTYPE html>
<html>
<head>
  <title>LaPiraterie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <!-- FlatFy Theme - Andrea Galanti /-->

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->  <!--<![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Le club des amateurs de rhums vieux et d'exception.">
    <meta name="author" content="">

    <!-- meta Facebook Share -->

    <meta property="og:type"   content="website" />
    <meta property="og:url"    content="https://www.la-piraterie.com/" />
    <meta property="og:title"  content="Vente Flash de La Piraterie" />
    <meta property="og:image"  content="http://news.labelleagence.com/img-fb-share-17.jpg" />


    <title>La Piraterie</title>

    <!-- Bootstrap core CSS -->

    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <!-- <link href="css/general.css" rel="stylesheet"> -->

   <!-- Owl-Carousel -->
  <!--     <link href="css/custom.css" rel="stylesheet">
  <link href="css/owl.carousel.css" rel="stylesheet">
  <link href="css/owl.theme.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet"> -->

  <!-- Magnific Popup core CSS file -->
  <!-- <link rel="stylesheet" href="css/magnific-popup.css">-->

  <!--<script src="js/modernizr-2.6.2.min.js"></script>   Modernizr /-->
    <meta name="google-site-verification" content="qGVJ6ZwuQf_lCR2SYACX_U4q2q4r6kY1pTATOCwS25k" />
</head>


<body id="home">


  <!-- Facebook Share script -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
   fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


    <%= yield %>

  <footer>
    <div class="container">
     <!-- /col-xs-7 -->

      <div class="col-md-5">
        <div class="footer-banner">
          <h3 class="footer-title">La Piraterie – RumClub</h3>
          <ul>
            <li>Christian de Montaguère</li>
            <li>20 rue de l'Abbé Grégoire</li>
            <li>75006 Paris</li>
          </ul>
        </div>
      </div>
    </div>

<!-- StikyMenu -->

   <!-- <script src="js/stickUp.min.js"></script>-->
  <script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
      $('.navbar-default').stickUp();

    });
    });

  </script>


  <!-- Smoothscroll -->
  <!-- <script type="text/javascript" src="js/jquery.corner.js"></script>
  <script src="js/wow.min.js"></script>
  <script>
   new WOW().init();
  </script>
  <script src="js/classie.js"></script>
  <script src="js/uiMorphingButton_inflow.js"></script>-->
  <!-- Magnific Popup core JS file -->
  <!--<script src="js/jquery.magnific-popup.js"></script>-->

    <!-- JavaScript-->

  <!--   <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/script.js"></script>
-->
</body>
</html>
